In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StructType, StructField, StringType, DateType, FloatType, IntegerType
import random

# Inicialização da sessão do Spark
spark = SparkSession.builder.appName("Exemplo").getOrCreate()

24/01/05 13:13:51 WARN Utils: Your hostname, DESKTOP-0KANSSR resolves to a loopback address: 127.0.1.1; using 192.168.226.179 instead (on interface eth0)
24/01/05 13:13:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/01/05 13:13:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Create Base Fake

In [90]:

data_2010_2 = []
for _ in range(500):
    data_2010_2.append((
        random.randint(99999999980, 99999999999),
        random.choice(['Física', 'Jurídica']),
        random.choice(['0000015', '0000016', '0000019', '0000014']),
        random.uniform(1000, 10000),
        random.choice(['0110', '0120', '0130', '0140', '0150', '0160', '0165', '0170', '0175', '0180', '0190',
                       '0199', '0205', '0210', '0220', '0230', '0240', '0245', '0250', '0255', '0260', '0270',
                       '0280', '0290', '0310', '0320']),
    ))

columns = ['CPF_CNPJ', 'tp_pes', 'MODALIDADE', 'VLR_TOT_RISCO', 'COD_FX_VENCIDO']
df_2010_2 = spark.createDataFrame(data_2010_2, columns)


data_2010_3 = []
for _ in range(500):
    data_2010_3.append((
        random.randint(99999999980, 99999999999),
        random.choice(['Física', 'Jurídica']),
        random.choice(['0000015', '0000016', '0000019', '0000014']),
        random.uniform(1000, 10000),
        random.uniform(1000, 10000)
    ))

columns = ['CPF_CNPJ', 'tp_pes', 'MODALIDADE', 'bxprj12m48m', 'bxprj_12m']
df_2010_3 = spark.createDataFrame(data_2010_3, columns)

In [91]:
df_BC_FX_VEN_2_2010_2 = df_2010_2.groupBy("CPF_CNPJ", "tp_pes", "MODALIDADE")\
    .agg(
        sum(when(col("COD_FX_VENCIDO") == '0110', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr30"),
        sum(when(col("COD_FX_VENCIDO") == '0120', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr31_60"),
        sum(when(col("COD_FX_VENCIDO") == '0130', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr61_90"),
        sum(when(col("COD_FX_VENCIDO") == '0140', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr91_180"),
        sum(when(col("COD_FX_VENCIDO") == '0150', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr181_360 "),
        sum(when(col("COD_FX_VENCIDO") == '0160', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr361_720"),
        sum(when(col("COD_FX_VENCIDO") == '0165', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr721_1080"),
        sum(when(col("COD_FX_VENCIDO") == '0170', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr1081_1440"),
        sum(when(col("COD_FX_VENCIDO") == '0175', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr1441_1800"),
        sum(when(col("COD_FX_VENCIDO") == '0180', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr1801_5400"),
        sum(when(col("COD_FX_VENCIDO") == '0190', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr_ac_5400"),
        sum(when(col("COD_FX_VENCIDO") == '0199', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcr_pr_ind"),
        sum(when(col("COD_FX_VENCIDO") == '0205', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd1_14"),
        sum(when(col("COD_FX_VENCIDO") == '0210', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd15_30"),
        sum(when(col("COD_FX_VENCIDO") == '0220', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd31_60"),
        sum(when(col("COD_FX_VENCIDO") == '0230', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd61_90"),
        sum(when(col("COD_FX_VENCIDO") == '0240', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd91_120"),
        sum(when(col("COD_FX_VENCIDO") == '0245', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd121_150"),
        sum(when(col("COD_FX_VENCIDO") == '0250', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd151_180"),
        sum(when(col("COD_FX_VENCIDO") == '0255', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd181_240"),
        sum(when(col("COD_FX_VENCIDO") == '0260', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd241_300"),
        sum(when(col("COD_FX_VENCIDO") == '0270', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd301_360"),
        sum(when(col("COD_FX_VENCIDO") == '0280', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd361_540"),
        sum(when(col("COD_FX_VENCIDO") == '0290', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("vcd_ac_540"),
        sum(when(col("COD_FX_VENCIDO") == '0310', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("bxprj_12m"),
        sum(when(col("COD_FX_VENCIDO") == '0320', col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("bxprj12m48"),
        sum(when(~col("COD_FX_VENCIDO")\
                 .isin('0110','0120','0130','0140','0150','0160','0165','0170','0175','0180','0190','0199',
                       '0205','0210','0220','0230','0240','0245','0250','0255','0260','0270',
                        '0280','0290','0310','0320'), col("VLR_TOT_RISCO")).otherwise(lit(0))).alias("Outros")        
    )

In [98]:
list_columns = [column for column in df_BC_FX_VEN_2_2010_2.columns if column not in ['CPF_CNPJ', 'tp_pes', 'MODALIDADE']]

sum_expr = " + ".join(f"`{col}`" for col in list_columns)

df_BC_FX_VEN_2_2010_2.groupBy("CPF_CNPJ", "tp_pes", "MODALIDADE")\
    .agg(
        sum(when(substring(col("MODALIDADE"), 1, 7).isin(["0000015"]), expr(sum_expr))).alias("COOBRIGACOES"),
        sum(when(substring(col("MODALIDADE"), 1, 7).isin(['0000016','0000019']), expr(sum_expr))).alias("VLR_LIBERAR"),
        sum(when(substring(col("MODALIDADE"), 1, 7).isin(["0000014"]), expr(sum_expr))).alias("REPASSE_INTERF")
    ).show()

+-----------+--------+----------+-----------------+------------------+------------------+
|   CPF_CNPJ|  tp_pes|MODALIDADE|     COOBRIGACOES|       VLR_LIBERAR|    REPASSE_INTERF|
+-----------+--------+----------+-----------------+------------------+------------------+
|99999999982|Jurídica|   0000016|             null| 21755.79035980294|              null|
|99999999982|  Física|   0000014|             null|              null|24415.341586783743|
|99999999993|Jurídica|   0000019|             null|19264.782915312833|              null|
|99999999998|  Física|   0000014|             null|              null| 6929.066935142796|
|99999999988|  Física|   0000015|8166.736160542138|              null|              null|
|99999999985|Jurídica|   0000019|             null|15685.217297429324|              null|
|99999999996|Jurídica|   0000016|             null|20062.931616958092|              null|
|99999999981|Jurídica|   0000019|             null|12866.150946160036|              null|
|99999999980|  Física|   0000015|12316.70049308503|              null|              null|
|99999999983|Jurídica|   0000014|             null|              null|21132.461181322094|
|99999999983|  Física|   0000014|             null|              null| 4875.494487891854|
|99999999981|  Física|   0000016|             null|20769.929888845487|              null|
|99999999980|  Física|   0000014|             null|              null|23502.932989274766|
|99999999998|  Física|   0000019|             null|35262.570816353444|              null|
|99999999995|Jurídica|   0000019|             null|17108.694100488934|              null|
|99999999993|Jurídica|   0000016|             null|21769.567378087835|              null|
|99999999991|Jurídica|   0000016|             null|22600.996602571584|              null|
|99999999990|Jurídica|   0000016|             null|28530.011830024443|              null|
|99999999983|Jurídica|   0000019|             null|29160.859593974244|              null|
|99999999997|  Física|   0000016|             null|32380.100220199594|              null|
+-----------+--------+----------+-----------------+------------------+------------------+
only showing top 20 rows

TypeError: Invalid argument, not a string or column: <generator object <genexpr> at 0x7fb4108d2d60> of type <class 'generator'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.