In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession \
    .builder \
    .getOrCreate()

Create Dataframe

In [84]:
data = (("James","Sales","NY",9000,34),
("Alicia","Sales","NY",8600,56),
("Robert","Sales","CA",8100,30),
("John","Sales","AZ",8600,30),
("Ross","Sales","AZ",8100,33),
("Khaty","Sales","AZ",1000,39),
("Lisa","Finance","CA",9000,24),
("Deja","Finance","CA",9900,40),
("Sugie","Finance","NY",8300,36),
("Ram","Finance","NY",7900,53),
("Sugie","Finance","NY",8300,36),
("Kyle","Marketing","CA",8000,25),
("Reid","Marketing","NY",9100,50))

schema=("empname", "dept", "state","salary","age")
df = spark.createDataFrame (data,schema =schema)
df.show()

+-------+---------+-----+------+---+
|empname|     dept|state|salary|age|
+-------+---------+-----+------+---+
|  James|    Sales|   NY|  9000| 34|
| Alicia|    Sales|   NY|  8600| 56|
| Robert|    Sales|   CA|  8100| 30|
|   John|    Sales|   AZ|  8600| 30|
|   Ross|    Sales|   AZ|  8100| 33|
|  Khaty|    Sales|   AZ|  1000| 39|
|   Lisa|  Finance|   CA|  9000| 24|
|   Deja|  Finance|   CA|  9900| 40|
|  Sugie|  Finance|   NY|  8300| 36|
|    Ram|  Finance|   NY|  7900| 53|
|  Sugie|  Finance|   NY|  8300| 36|
|   Kyle|Marketing|   CA|  8000| 25|
|   Reid|Marketing|   NY|  9100| 50|
+-------+---------+-----+------+---+

sha1(col)

In [16]:
df.withColumn("sha1", sha1(col("age").cast("string"))).show(1, truncate=False)

+-------+-----+-----+------+---+----------------------------------------+
|empname|dept |state|salary|age|sha1                                    |
+-------+-----+-----+------+---+----------------------------------------+
|James  |Sales|NY   |9000  |34 |f1f836cb4ea6efb2a0b1b99f41ad8b103eff4b59|
+-------+-----+-----+------+---+----------------------------------------+
only showing top 1 row

sha2(col,numBits)

In [17]:
df.withColumn("sha2", sha2(col("age").cast("string"),0)).show(1, truncate=False)

+-------+-----+-----+------+---+----------------------------------------------------------------+
|empname|dept |state|salary|age|sha2                                                            |
+-------+-----+-----+------+---+----------------------------------------------------------------+
|James  |Sales|NY   |9000  |34 |86e50149658661312a9e0b35558d84f6c6d3da797f552a9657fe0558ca40cdef|
+-------+-----+-----+------+---+----------------------------------------------------------------+
only showing top 1 row

hash(*cols)

In [85]:
cols = df.columns
df.withColumn("hash", hash(*cols)).show(truncate=False)

+-------+---------+-----+------+---+-----------+
|empname|dept     |state|salary|age|hash       |
+-------+---------+-----+------+---+-----------+
|James  |Sales    |NY   |9000  |34 |783586194  |
|Alicia |Sales    |NY   |8600  |56 |-1047727165|
|Robert |Sales    |CA   |8100  |30 |289334189  |
|John   |Sales    |AZ   |8600  |30 |-281909114 |
|Ross   |Sales    |AZ   |8100  |33 |-1828742001|
|Khaty  |Sales    |AZ   |1000  |39 |-1324150681|
|Lisa   |Finance  |CA   |9000  |24 |931623493  |
|Deja   |Finance  |CA   |9900  |40 |1489077269 |
|Sugie  |Finance  |NY   |8300  |36 |-2146062841|
|Ram    |Finance  |NY   |7900  |53 |-1458834559|
|Sugie  |Finance  |NY   |8300  |36 |-2146062841|
|Kyle   |Marketing|CA   |8000  |25 |2099112954 |
|Reid   |Marketing|NY   |9100  |50 |-1715464103|
+-------+---------+-----+------+---+-----------+