In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession \
    .builder \
    .getOrCreate()

In [6]:
df_order = spark.read.csv("/home/phillipefs/spark_dev/pyspark-end-to-end-developer/0 - PracticeFiles/Orders", 
                        schema="order_id INT, order_date timestamp, order_customer_id INT, order_status STRING")

df_order = df_order.withColumn("new_order_date", date_add("order_date", 50)).drop("order_customer_id","order_status")
df_order.show(5)

+--------+-------------------+--------------+
|order_id|         order_date|new_order_date|
+--------+-------------------+--------------+
|       1|2013-07-25 00:00:00|    2013-09-13|
|       2|2013-07-25 00:00:00|    2013-09-13|
|       3|2013-07-25 00:00:00|    2013-09-13|
|       4|2013-07-25 00:00:00|    2013-09-13|
|       5|2013-07-25 00:00:00|    2013-09-13|
+--------+-------------------+--------------+
only showing top 5 rows

In [14]:
df_order\
    .withColumn("current_date", current_date())\
    .withColumn("current_date", current_timestamp())\
    .withColumn("next_monday", next_day(current_date(),'mon'))\
    .withColumn("last_day_month", last_day(current_date()))\
    .withColumn("day_week", dayofweek(current_date()))\
    .withColumn("day_month", dayofmonth(current_date()))\
    .withColumn("day_year", dayofyear(current_date()))\
    .withColumn("second_timestamp", second(current_timestamp()))\
    .withColumn("min_timestamp", minute(current_timestamp()))\
    .withColumn("hour_timestamp", hour(current_timestamp()))\
    .withColumn("year_timestamp", year(current_timestamp()))\
    .withColumn('utc_timestamp', from_utc_timestamp(current_timestamp(), 'UTC'))\
    .show(5, truncate=False)

+--------+-------------------+--------------+--------------------------+-----------+--------------+--------+---------+--------+----------------+-------------+--------------+--------------+--------------------------+
|order_id|order_date         |new_order_date|current_date              |next_monday|last_day_month|day_week|day_month|day_year|second_timestamp|min_timestamp|hour_timestamp|year_timestamp|utc_timestamp             |
+--------+-------------------+--------------+--------------------------+-----------+--------------+--------+---------+--------+----------------+-------------+--------------+--------------+--------------------------+
|1       |2013-07-25 00:00:00|2013-09-13    |2023-06-24 15:11:36.240238|2023-06-26 |2023-06-30    |7       |24       |175     |36              |11           |15            |2023          |2023-06-24 15:11:36.240238|
|2       |2013-07-25 00:00:00|2013-09-13    |2023-06-24 15:11:36.240238|2023-06-26 |2023-06-30    |7       |24       |175     |36              |11           |15            |2023          |2023-06-24 15:11:36.240238|
|3       |2013-07-25 00:00:00|2013-09-13    |2023-06-24 15:11:36.240238|2023-06-26 |2023-06-30    |7       |24       |175     |36              |11           |15            |2023          |2023-06-24 15:11:36.240238|
|4       |2013-07-25 00:00:00|2013-09-13    |2023-06-24 15:11:36.240238|2023-06-26 |2023-06-30    |7       |24       |175     |36              |11           |15            |2023          |2023-06-24 15:11:36.240238|
|5       |2013-07-25 00:00:00|2013-09-13    |2023-06-24 15:11:36.240238|2023-06-26 |2023-06-30    |7       |24       |175     |36              |11           |15            |2023          |2023-06-24 15:11:36.240238|
+--------+-------------------+--------------+--------------------------+-----------+--------------+--------+---------+--------+----------------+-------------+--------------+--------------+--------------------------+
only showing top 5 rows

In [15]:
df_order\
    .withColumn("current_date", months_between("new_order_date", "order_date", roundOff=True))\
    .withColumn("add_days", date_add("order_date", 10))\
    .withColumn("sub_days", date_sub("order_date", 10))\
    .withColumn("add_months", add_months("order_date", 10))\
    .withColumn("date_trunc", date_trunc('year',current_date()))\
    .withColumn("date_to_string", date_format(current_date(), format='dd/MM/yyyy'))\
    .withColumn("string_to_date", to_date("date_to_string", format='dd/MM/yyyy'))\
    .withColumn("string_to_timestamp", to_timestamp("date_to_string", format='dd/MM/yyyy'))\
    .show(5)

+--------+-------------------+--------------+------------+----------+----------+----------+-------------------+--------------+--------------+-------------------+
|order_id|         order_date|new_order_date|current_date|  add_days|  sub_days|add_months|         date_trunc|date_to_string|string_to_date|string_to_timestamp|
+--------+-------------------+--------------+------------+----------+----------+----------+-------------------+--------------+--------------+-------------------+
|       1|2013-07-25 00:00:00|    2013-09-13|  1.61290323|2013-08-04|2013-07-15|2014-05-25|2023-01-01 00:00:00|    24/06/2023|    2023-06-24|2023-06-24 00:00:00|
|       2|2013-07-25 00:00:00|    2013-09-13|  1.61290323|2013-08-04|2013-07-15|2014-05-25|2023-01-01 00:00:00|    24/06/2023|    2023-06-24|2023-06-24 00:00:00|
|       3|2013-07-25 00:00:00|    2013-09-13|  1.61290323|2013-08-04|2013-07-15|2014-05-25|2023-01-01 00:00:00|    24/06/2023|    2023-06-24|2023-06-24 00:00:00|
|       4|2013-07-25 00:00:00|    2013-09-13|  1.61290323|2013-08-04|2013-07-15|2014-05-25|2023-01-01 00:00:00|    24/06/2023|    2023-06-24|2023-06-24 00:00:00|
|       5|2013-07-25 00:00:00|    2013-09-13|  1.61290323|2013-08-04|2013-07-15|2014-05-25|2023-01-01 00:00:00|    24/06/2023|    2023-06-24|2023-06-24 00:00:00|
+--------+-------------------+--------------+------------+----------+----------+----------+-------------------+--------------+--------------+-------------------+
only showing top 5 rows