In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession \
    .builder \
    .getOrCreate()

Create Dataframe

In [6]:
df = spark.createDataFrame([('Robert', 1, None, 114.0), ('John', None, 2577, float('nan'))], ('name', 'id', 'phone', 'stAdd'))
df.show()

+------+----+-----+-----+
|  name|  id|phone|stAdd|
+------+----+-----+-----+
|Robert|   1| null|114.0|
|  John|null| 2577|  NaN|
+------+----+-----+-----+

isnull(col) -> Return True if the col is null

In [14]:
df.select('phone',isnull('phone')).show()

+-----+---------------+
|phone|(phone IS NULL)|
+-----+---------------+
| null|           true|
| 2577|          false|
+-----+---------------+

isnan(col) -> Return true if the column is NaN

In [15]:
df.select('phone',isnull('phone')).show()

+-----+---------------+
|phone|(phone IS NULL)|
+-----+---------------+
| null|           true|
| 2577|          false|
+-----+---------------+

nanvl(col1, col2) -> Returns col 1 if it is not NaN or col2 if col1 is NaN

In [17]:
df.select('stAdd', 'phone', nanvl('stAdd', 'phone')).show()

+-----+-----+-------------------+
|stAdd|phone|nanvl(stAdd, phone)|
+-----+-----+-------------------+
|114.0| null|              114.0|
|  NaN| 2577|             2577.0|
+-----+-----+-------------------+

coalesce(*cols) -> Return the first column that is not null

In [18]:
df.select('phone', 'stAdd', coalesce('phone', 'stAdd')).show()

+-----+-----+----------------------+
|phone|stAdd|coalesce(phone, stAdd)|
+-----+-----+----------------------+
| null|114.0|                 114.0|
| 2577|  NaN|                2577.0|
+-----+-----+----------------------+

Replace NaN Default Value

In [27]:
df.na.fill(0, subset=['stAdd']).show()
df.na.fill(0, subset=['id']).show()

+------+----+-----+-----+
|  name|  id|phone|stAdd|
+------+----+-----+-----+
|Robert|   1| null|114.0|
|  John|null| 2577|  0.0|
+------+----+-----+-----+

+------+---+-----+-----+
|  name| id|phone|stAdd|
+------+---+-----+-----+
|Robert|  1| null|114.0|
|  John|  0| 2577|  NaN|
+------+---+-----+-----+