In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession \
    .builder \
    .getOrCreate()

Create Dataframe

In [4]:
df1 = spark.range(10)
df2 = spark.range(5,15)

Union()

In [7]:
df1.union(df2).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
+---+

unionALL()

In [17]:
df1.unionAll(df2).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
+---+

Union By Name

In [27]:
df1 = spark.createDataFrame(data= [('a',1), ('b',2)], schema=('col1 string, col2 int'))
df2 = spark.createDataFrame(data= [(1,'a'), (2,'b')], schema=('col2 int, col1 string'))
df1.unionByName(df2).show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
|   b|   2|
|   a|   1|
|   b|   2|
+----+----+

intersect() - Remove duplicates

In [34]:
df1 = spark.createDataFrame(data= [('a',1),('a',1),('b',2)], schema=('col1 string, col2 int'))
df2 = spark.createDataFrame(data= [('a',1),('a',1),('c',2)], schema=('col1 string, col2 int'))
df1.intersect(df2).show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
+----+----+

Intersect ALL

In [43]:
df1 = spark.createDataFrame(data= [('a',1),('a',1),('b',2)], schema=('col1 string, col2 int'))
df2 = spark.createDataFrame(data= [('a',1),('a',1),('c',2)], schema=('col1 string, col2 int'))
df1.intersectAll(df2).show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
|   a|   1|
+----+----+

exceptALL()

In [44]:
df1 = spark.createDataFrame(data= [('a',1),('a',1),('b',2)], schema=('col1 string, col2 int'))
df2 = spark.createDataFrame(data= [('a',1),('a',1),('c',2)], schema=('col1 string, col2 int'))
df1.exceptAll(df2).show()

+----+----+
|col1|col2|
+----+----+
|   b|   2|
+----+----+