In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession \
    .builder \
    .getOrCreate()

Create Dataframe

In [79]:
df1 = spark.createDataFrame(data=((1,'Robert'),(2,'Ria'),(3,'James')), schema='id int,empname string')
df2 = spark.createDataFrame(data=((2,'USA'),(4,'India')), schema='id int,country string')
df1.show()
df2.show()

+---+-------+
| id|empname|
+---+-------+
|  1| Robert|
|  2|    Ria|
|  3|  James|
+---+-------+

+---+-------+
| id|country|
+---+-------+
|  2|    USA|
|  4|  India|
+---+-------+

inner join

In [65]:
df1.join(df2,df1.id == df2.id,'inner').select(df1['*'], df2.country).show()
df1.join(df2,df1.id == df2.id,'inner').select(df1.id, df2.country).show()

+---+-------+-------+
| id|empname|country|
+---+-------+-------+
|  2|    Ria|    USA|
+---+-------+-------+

+---+-------+
| id|country|
+---+-------+
|  2|    USA|
+---+-------+

left join

In [72]:
df1.join(df2,df1.id == df2.id,'left')\
    .select(df1['*'], df2.country)\
    .show()

+---+-------+-------+
| id|empname|country|
+---+-------+-------+
|  1| Robert|   null|
|  2|    Ria|    USA|
|  3|  James|   null|
+---+-------+-------+

cross join

In [77]:
df1.crossJoin(df2).show()

+---+-------+---+-------+
| id|empname| id|country|
+---+-------+---+-------+
|  1| Robert|  2|    USA|
|  1| Robert|  4|  India|
|  2|    Ria|  2|    USA|
|  2|    Ria|  4|  India|
|  3|  James|  2|    USA|
|  3|  James|  4|  India|
+---+-------+---+-------+

leftanti

Retorna os elementos da esqueda que n√£o foram encontrados

In [78]:
df1.join(df2,df1.id == df2.id,'leftanti').show()

+---+-------+
| id|empname|
+---+-------+
|  1| Robert|
|  3|  James|
+---+-------+

join multiple columns

In [80]:
df1 =spark.createDataFrame (data=((1,101,'Robert'),(2,102,'Ria'),(3,103,'James')), schema='empid int,deptid int,empname string')
df2 =spark.createDataFrame (data=((2,102,'USA'),(4,104,'India')), schema='empid int,deptid int,country string')
df1.join(df2,(df1.empid == df2.empid) & (df1.deptid == df2.deptid)).show()

+-----+------+-------+-----+------+-------+
|empid|deptid|empname|empid|deptid|country|
+-----+------+-------+-----+------+-------+
|    2|   102|    Ria|    2|   102|    USA|
+-----+------+-------+-----+------+-------+

join multiple dataframes

In [81]:
df1 =spark.createDataFrame (data=((1,'Robert'),(2,'Ria'),(3,'James')), schema='empid int,empname string')
df2 =spark.createDataFrame (data=((2,'USA'),(4,'India')), schema='empid int,country string')
df3 =spark.createDataFrame (data=((1,'01 jan 2021'),(2,'01 feb 2021'),(3,'01 mar 2021')),schema='empid int,joindate string')
df1.join(df2,df1.empid==df2.empid).join(df3,df1.empid == df3.empid).show()

+-----+-------+-----+-------+-----+-----------+
|empid|empname|empid|country|empid|   joindate|
+-----+-------+-----+-------+-----+-----------+
|    2|    Ria|    2|    USA|    2|01 feb 2021|
+-----+-------+-----+-------+-----+-----------+