In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession \
    .builder \
    .getOrCreate()

Function Summary

In [12]:
df_orders = spark.read.csv("/home/phillipefs/spark_dev/pyspark-end-to-end-developer/0 - PracticeFiles/Order_items/part-00000", schema="order_item_id int, order_item int, product_id int, quantity int, subtotal float, price float")
df_orders.summary().show()

+-------+-----------------+------------------+-----------------+------------------+------------------+------------------+
|summary|    order_item_id|        order_item|       product_id|          quantity|          subtotal|             price|
+-------+-----------------+------------------+-----------------+------------------+------------------+------------------+
|  count|           172198|            172198|           172198|            172198|            172198|            172198|
|   mean|          86099.5| 34442.56682423721|660.4877176273824|2.1821275508426345|199.32066922046081|133.75906959048717|
| stddev|49709.42516431533|19883.325171992343| 310.514472790008|1.4663523175387134|112.74303987146804|118.55893633258484|
|    min|                1|                 1|               19|                 1|              9.99|              9.99|
|    25%|            43033|             17204|              403|                 1|            119.98|              50.0|
|    50%|            86085|             34464|              627|                 1|            199.92|             59.99|
|    75%|           129134|             51682|             1004|                 3|            299.95|            199.99|
|    max|           172198|             68883|             1073|                 5|           1999.99|           1999.99|
+-------+-----------------+------------------+-----------------+------------------+------------------+------------------+

avg, max, min

In [17]:
df_orders.select(round(avg('price'),2).alias('avg_price')).show()
df_orders.select(max('price')).show()
df_orders.select(min('price')).show()

+---------+
|avg_price|
+---------+
|   133.76|
+---------+

+----------+
|max(price)|
+----------+
|   1999.99|
+----------+

+----------+
|min(price)|
+----------+
|      9.99|
+----------+

sum, sumDistinct

In [20]:
df_orders.select(sum('price'), sum_distinct('price')).show()

+--------------------+-------------------+
|          sum(price)|sum(DISTINCT price)|
+--------------------+-------------------+
|2.3033044265342712E7|   9832.41999053955|
+--------------------+-------------------+

count, count_distinct

In [21]:
df_orders.select(count('price'), count_distinct('price')).show()

+------------+---------------------+
|count(price)|count(DISTINCT price)|
+------------+---------------------+
|      172198|                   57|
+------------+---------------------+

first, last

In [56]:
df_orders.sort(col('price').asc()).first()
df_orders.sort(col('price').asc()).select(first('price'), last('price')).show()

+------------+-----------+
|first(price)|last(price)|
+------------+-----------+
|        9.99|    1999.99|
+------------+-----------+

collect_set, collect_list

In [53]:
df = spark.createDataFrame([(1,100), (2,150), (3,200), (4,50), (5,50)], schema='id int, salary int')
df.select(collect_list('salary').alias('list'), collect_set('salary').alias('set')).show(truncate=False)

+-----------------------+-------------------+
|list                   |set                |
+-----------------------+-------------------+
|[100, 150, 200, 50, 50]|[150, 100, 50, 200]|
+-----------------------+-------------------+