In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *

spark = SparkSession \
    .builder \
    .getOrCreate()

Create Dataframe

In [3]:
data = (("James","Sales","NY",None,34),
("Alicia","Sales","NY",8600,56),
("Robert","Sales","CA",8100,30),
("John","Sales","AZ",8600,30),
("Ross","Sales","AZ",8100,33),
("Khaty","Sales","AZ",1000,39),
("Lisa","Finance","CA",9000,24),
("Deja","Finance","CA",9900,40),
("Sugie","Finance","NY",8300,36),
("Ram","Finance","NY",7900,53),
("Sugie","Finance","NY",8300,36),
("Kyle","Marketing","CA",8000,25),
("Reid","Marketing","NY",9100,50))

schema=("empname", "dept", "state","salary","age")
df = spark.createDataFrame (data,schema =schema)
df.show()

+-------+---------+-----+------+---+
|empname|     dept|state|salary|age|
+-------+---------+-----+------+---+
|  James|    Sales|   NY|  null| 34|
| Alicia|    Sales|   NY|  8600| 56|
| Robert|    Sales|   CA|  8100| 30|
|   John|    Sales|   AZ|  8600| 30|
|   Ross|    Sales|   AZ|  8100| 33|
|  Khaty|    Sales|   AZ|  1000| 39|
|   Lisa|  Finance|   CA|  9000| 24|
|   Deja|  Finance|   CA|  9900| 40|
|  Sugie|  Finance|   NY|  8300| 36|
|    Ram|  Finance|   NY|  7900| 53|
|  Sugie|  Finance|   NY|  8300| 36|
|   Kyle|Marketing|   CA|  8000| 25|
|   Reid|Marketing|   NY|  9100| 50|
+-------+---------+-----+------+---+

first() and last()

In [7]:
df.select(first("salary", ignorenulls=True)).show()
df.select(last("salary", ignorenulls=True)).show()

+-------------+
|first(salary)|
+-------------+
|         8600|
+-------------+

+------------+
|last(salary)|
+------------+
|        9100|
+------------+

greatest()

In [9]:
df.select(greatest("salary", "age")).show()

+---------------------+
|greatest(salary, age)|
+---------------------+
|                   34|
|                 8600|
|                 8100|
|                 8600|
|                 8100|
|                 1000|
|                 9000|
|                 9900|
|                 8300|
|                 7900|
|                 8300|
|                 8000|
|                 9100|
+---------------------+

collect_list() and collect_set()

In [15]:
df.select(collect_list("age").alias("list_age")).show(truncate=False)
df.select(collect_set("age").alias("list_age")).show(truncate=False)

+----------------------------------------------------+
|list_age                                            |
+----------------------------------------------------+
|[34, 56, 30, 30, 33, 39, 24, 40, 36, 53, 36, 25, 50]|
+----------------------------------------------------+

+--------------------------------------------+
|list_age                                    |
+--------------------------------------------+
|[33, 30, 34, 56, 53, 50, 24, 39, 36, 25, 40]|
+--------------------------------------------+